@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About me.</h1>
    <p></p>
    <p>My name is Danilo, a development apprentice and I'm 34 years old.</p>
    <p>I work with VoIP solutions, with 17 years of experience and now studying back-end development,</p>
    <p>trying to biuld a new path in my life.</p>
    <p>This is all for now, but I'll make this project a beatifull thing to see s2. </p>
</div>